html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body > .container{
    margin-top:50px;
    margin-bottom:50px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


.container .text-muted {
  margin: 20px 0;
}
.btn a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.slide-control{font-size:40px;left:30px;position:absolute;top:50%;}
.slide-control.right{left:auto;right:30px;}